spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/tzr
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  h2:
    console:
      enabled: false
